<h1>Hello, Rails!</h1>
<img src="http://cliparts.co/cliparts/pT5/rB9/pT5rB9Kgc.png" alt="Drama masks" height="100" width="100"/><br>

<%= link_to 'My Blog', {controller: 'articles'}, class: "big button" %>